.container {
    width: 100dvw;
    height: 80dvh;
}

.user__input {
    display: flex;

}

.user__input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: .3;
    gap: 10px;
    padding: 18px 6px 18px 34px;
}

.node__info {
    width: 100%;
    padding: 12px;
    margin-left: 20px;
}

.input__title {
    font-size: 1.1rem;
    display: inline-block;
    text-transform: uppercase;
}

.node__input {
    margin-left: 70px;
}

input,
textarea {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    width: 40%;
    border: 1px solid #c3c3c3;
   

}

input:focus,
textarea:focus {
    outline: none;
    /* Remove default outline */
    border-color: #66afe9;
    /* Change border color on focus */
}



.node__input {
    width: 60%;
    padding: 6px;
    background-color: #fcfcfc;
}


.color__picker h3 {
    display: block;
    font-size: 16px;
}

.color__picker {

    height: 10%;
    cursor: pointer;
    border-radius: 50%;
    width: 400px;
    height: 35px;
    margin-top: 2rem;
    text-transform: uppercase;
}



.color__picker {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


input[type="color"] {

    width: 80px;
    /* Adjust width as needed */
    height: 30px;
    /* Adjust height as needed */
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    /* Show cursor as pointer */
}

.info__wrapper {

    display: flex;
    align-items: center;

}


.addnode__btn {
    padding: .5vw 1vw;
    border-radius: 15px 0;
    cursor: pointer;
    background-color: #5a5959;
    color: #ccc;
    width: 200px;
    margin-right: 10px;


}

.addnode__btn:hover {
    background-color: #9b9b9b;

}

.chart__wrapper {
    flex: .4;
    padding: 18px 10px;


}

.chart__wrapper h2 {
    margin-bottom: 12px;
}

.chart {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
}

.chart span {
    font-size: 20px;
    font-weight: 600;
}

.node__information {
    position: absolute;
    top: 5%;
    border: 1px solid rgb(37, 37, 63);
    width: 450px;
    height: 250px;
    right: 4%;
    padding: 1vw;
    border-radius: 8px;
    background-color: #e8e8e8;
}

.node__box {
    max-width: 200px;
    width: 180px;
    height: 50px;
    border: 1px solid lightblue;
    color: #f3f3f3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

}



.elem__title span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 12px;
    
}

.elem__info span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 12px;
}

.elem__title{

font-size: 18px;
margin-bottom: 10px;

}
.elem__info{
    font-size: 18px;
}

.chart__input{
    padding: 12px;
    width: 50%;
}